# ignore git files
.git/
.gitignore
.github/

# ignore docker-compose files
docker-compose.*.yml

# ignore environment files
.env*

# ignore document files
*.md

# ignore editor settings
.idea/
.vscode/

# ignore log files
*.log

# Next.js
dist/
node_modules/
