.App {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.App_Main {
  display: flex;
  flex-direction: column;
  min-width: 600px;
}

.App_Container {
  height: 100%;
  overflow-y: scroll;
}

.Container {
  padding: 10px;
}
