.root {
  width: 100%;
}

.button {
  margin: 5px;
}

.slide {
  border: 2px solid #2c3fa1;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}

.slideTitle {
  font-weight: bold;
}
